APscheduler==3.0.1
arrow==0.7.0
bleach==1.4.2
beautifulsoup4==4.3.2
certifi==2017.11.05
chardet==3.0.4
cherrypy==5.1.0
python-dateutil==2.4.2
dnspython==1.14.0
facebook-sdk==3.0.0-alpha
geoip2==2.4.0
gntp==1.0.2
html5lib==0.999
httpagentparser==1.7.8
idna==2.6
ipwhois==0.13.0
pyjwt==1.4.0
argparse==1.1
requests==2.18.4
paho-mqtt==1.1
osxnotify==1.0
pytz==2016.6.1
logutils==0.3.3
maxminddb==1.2.1
mako==1.0.1
oauthlib==1.1.1
PyNMA==1.0
requests_oauthlib==0.6.1
python-twitter==3.0rc1
tzlocal==1.5.1
urllib3==1.22
websocket-client==0.32.0
universal-analytics-python==0.2.4
pyopenssl==17.5.0
feedparser==5.0.1
ipaddr==2.1.11
ipaddress==1.0.16
IPY==0.83
xmltodict==0.9.2
profilehooks==1.4
simple-pbkdf2
configobj